.card{
  width:200px;
  height:350px;
  border-radius: 10px;
  text-align: center;
  background-color:lightgrey;
  margin: 20px;
}
.header{
  margin:-8px;
  color: rgb(93, 184, 226);
  font-family: 'Courier New', Courier, monospace;
  background-color:lightgray;
  padding: 20px;
  
}
.maindiv{
  margin: -8px;
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pimage{
  width:80%;
  height: 28%;
  padding: 20px;
  object-fit: scale-down;
}
.pbtn{
  width:80%;
  height:10%;
  background-color:lightgreen;
  border-radius: 8%;
}
.ptitle{
  width:80%;
  height:10%;
}
.pprice{
  width:80%;
  height:10%;
}