.card{
  border:2px solid red;
  width:200px;
  height:350px;
  border-radius: 10px;
  text-align: center;
  background-image: linear-gradient(green,white);
  margin: 20px;
}
.maindiv{
  border:2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pimage{
  width:80%;
  height: 28%;
  padding: 20px;
  object-fit: scale-down;
}
.pbtn{
  width:80%;
  height:10%;
  background-color:orange;
  border-radius: 8%;
}
.ptitle{
  width:80%;
  height:10%;
}
.pprice{
  width:80%;
  height:10%;
}